<nav class="header">
  <div class="header__content">
    <a href="/" class="logo" aria-label="home">
      <span class="logo__text">G</span>
    </a>

    <div class="nav__links">
      <ol class="nav__list">
        <li class="nav__item">
          <a href="#about"
             class="nav__link"
             [class.active]="activeSection === 'hero'">
            About
          </a>
        </li>
        <li class="nav__item">
          <a href="#projects"
          class="nav__link"
          [class.active]="activeSection === 'projects'">
          Projects
        </a>
      </li>
      <li class="nav__item">
        <a href="#experience"
           class="nav__link"
           [class.active]="activeSection === 'experience'">
          Experience
        </a>
      </li>
        <li class="nav__item">
          <a href="#skills"
             class="nav__link"
             [class.active]="activeSection === 'skills'">
            Skills
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact"
             class="nav__link"
             [class.active]="activeSection === 'contact'">
            Contact
          </a>
        </li>
        <div>
          <a href="Gaurav_K_H_Resume.pdf"
             class="resume-button" download="Gaurav Kothamachu Harish.pdf">
            Resume
          </a>
        </div>
      </ol>
    </div>
  </div>
</nav>
