<section id="experience">
  <h2 class="numbered-heading">Where I've Worked</h2>

  <div class="experience__list">
    @for (exp of experiences; track exp) {
      <div class="experience__item">
        <h3 class="experience__title">
          <span class="role">{{ exp.role }}</span>
          <span class="company">&#64; {{ exp.company }}</span>
        </h3>

        <p class="experience__duration">{{ exp.duration }}</p>

        <ul class="experience__points">
          @for (point of exp.points; track point) {
            <li class="experience__point">
              {{ point }}
            </li>
          }
        </ul>
      </div>
    }
  </div>
</section>
