<div class="scroll-progress" id="scrollProgress"></div>
<!-- <div class="scroll-indicators">
  @for (section of sections; track section) {
    <div class="dot"
        [class.active]="activeSection === section.id"
        (click)="scrollTo(section.id)">
    </div>
  }
</div> -->

<app-header></app-header>

<main [@routeAnimations]>
  <section id="hero">
    <app-hero></app-hero>
  </section>

  <section id="experience" aria-label="Professional Experience">
    <app-experience></app-experience>
  </section>

  <section id="projects" aria-label="Featured Projects">
    <app-projects></app-projects>
  </section>

  <section id="skills" aria-label="Technical Skills">
    <app-skills></app-skills>
  </section>

  <section id="contact" aria-label="Contact Information">
    <app-contact></app-contact>
  </section>
</main>
